body {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffb6c1;
    padding: 20px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    gap: 10%;
    padding: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ddd;
}

footer {
    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f08080;
    padding: 10px;
}

.scoreboard {
    text-align: center;
    margin: 20px 0;
}

.results {
    text-align: center;
    margin: 20px 0;
}

